.intro {
    text-align: center;
    font-size: 80px;
}
#top {
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 80px;
    color: white;
}
#topItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
}
::selection {
    color: black;
    background-color: darkred;
}
.withers {
    font-size: 60px;
    animation: rubberBand;
    animation-duration: 1.5s;
}
#homeWelcome {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#whattf {
    font-size: 30px;
    background-color: black;
    color: white;
}
#table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#WithersApps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}
#WithersApps .card{
    font-size: 60px;
    padding: 60px;
    border: black solid 1px;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transform: rotate(30);
    border-radius: 60px;
}
#WithersApps .card .icon{
    font-size: 100px;
}
.card:hover {
    border-radius: 60px;
    background-color: black;
}
/*Side nav*/
.side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .side a:hover {
    color: red;
  }
  
  .side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .side {padding-top: 15px;}
    .side a {font-size: 18px;}
  }
  .top .topItems .tab.active {
    color: rgb(99, 9, 9);
  }
  .tab:hover {
      color: red;
      font-size: 60px;
  }
  