body {
    font-family: Arial, Helvetica, sans-serif;
}
#top {
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 80px;
    color: white;
}
#topItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
}
/*Tabs*/
.tab:hover {
    color: red;
    font-size: 60px;
    cursor: pointer;
}
.tab {
  color: white;
  text-decoration: none;
}
.current {
  color: darkred;
}
#articleGroup {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.groupArticles {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.articleGroupHeader {
    font-size: 20px;
}